.cardWrapper {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding-left: 0;
}

.cardItem {
  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 24px;
  width: 840px;
  height: 320px;
  background-color: #ffff;
}
