.contentContainer {
  display: flex;
  gap: 24px;
  position: relative;
}

.img {
  border-radius: 10px;
  width: 292px;
  height: 320px;
  object-fit: cover;
}

.cardTitle {
  padding-bottom: 8px;
  margin: 0;
}

.reviewAndLocationWrapper {
  display: flex;
  padding-bottom: 24px;
  align-items: center;
}

.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  text-decoration: underline;
}

.locationWrapper {
  display: flex;
  gap: 4px;
  padding-left: 16px;
}

.locationSvg {
  width: 16px;
  height: 16px;
}

.textAbout {
  margin: 0;
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 525px;
}

.priceAndFavouriteWrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.showMoreBtn {
  border-radius: 200px;
  padding: 16px 40px;
  background: #e44848;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  text-decoration: none;
}
