.comfortList {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 8px;
  padding-bottom: 24px;
  flex-wrap: wrap;
  margin: 0;
}

.comfortItem {
  border-radius: 100px;
  padding: 12px 18px;
  width: 107px;
  height: 24px;
  background: #f2f4f7;
  mix-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.svg {
  width: 20px;
  height: 20px;
}
